<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn Anything You Want</h1>
    <br />
    <h2>Join the community of students and teachers sharing their knowledge</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
  <div class="row text-center feature">
    <div class="booyah-box home col-12 col-sm">
      <span class="fa fa-play-circle fa-5x"></span>
      <h3>Amazing Courses</h3>
      <br />
      <p>Choose from any number of courses to study with amazing teachers. Expertise spans many disciplines, allowing for a deep dive whereever your heart leads.</p>
    </div>

    <div class="booyah-box home col-12 col-sm">
      <span class="fa fa-desktop fa-5x"></span>
      <h3>Learn At Your Own Pace</h3>
      <br />
      <p>Enroll and access a courses archive of lessons. Watch videos when you have time, and review materials outside of the pressures of a course syllabus.</p>
    </div>

    <div class="booyah-box home col-12 col-sm">
      <span class="fa fa-chevron-left fa-5x"></span><span class="fa fa-chevron-right fa-5x"></span>
      <h3>Join our Community</h3>
      <br />
      <p>Learn with a community of like-minded individuals. Share in what you have learned, and connect with people who have similar interests.</p>
    </div>
  </div>